body{
    margin:0;
    padding:0;
    background-color: black;
}

.navbar{
    width:70%;
    height:15%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

#log{
    width: 180px;
    height: 100px;
    cursor:pointer;
}

.click{
    background: #2196f3;
    font-weight: 700;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4 px;
    text-decoration:none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1s;
}

#top1{
    text-align: left;
    color:white; 
    font-size: x-large;    
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;

}

.wrapper{
    display: flex;
    position:relative;
}

.wrapper .sidebar{
    position:fixed;
    width:15%;
    height:100%;
    background:rgb(29, 27, 41);
    padding: 30px 0;
}

.wrapper .sidebar .tit{
    background:midnightblue;
    color:orchid;
    text-align: center;
    text-transform:uppercase;
    margin-bottom: 20px;
}

.wrapper .sidebar ul li{
    padding:40px;
    border-bottom: 1px solid rgba(30,30,30,0.05);
    border-top:1px solid rgba(200,200,200,0.05);
}

.wrapper .sidebar ul li a{
    color:palevioletred;
}

.wrapper .sidebar ul li a .fas{
    width: 30px;
}

.wrapper .sidebar ul li:hover{
    background:midnightblue;
}

.top{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color:blanchedalmond;
    display:block;   
}

.image{
    height: 520px;
    width:60%;    
}

.source1,.source2,.source3,.source4,.source5{
    height: 100vh;
    width: 100%;
    position: absolute;
    text-align: center;
}


.source1{
    animation: n 4s linear infinite;
}
.source2{
    animation: h 4s linear infinite;
}
.source3{
    animation: p 4s linear infinite;
}
.source4{
    animation: b 4s linear infinite;
}
.source5{
    animation: f 4s linear infinite;
}

@keyframes n{
    0%{
        visibility:visible;
    }
    20%{
        visibility:hidden;
    }
    40%{
        visibility:hidden;
    }
    60%{
        visibility:hidden;
    }
    80%{
        visibility:hidden;
    }
    100%{
        visibility:visible;
    }
}
@keyframes h{
    0%{
        visibility:hidden;
    }
    20%{
        visibility:visible;
    }
    40%{
        visibility:hidden;
    }
    60%{
        visibility:hidden;
    }
    80%{
        visibility:hidden;
    }
    100%{
        visibility:hidden;
    }
}
@keyframes p{
    0%{
        visibility:hidden;
    }
    20%{
        visibility:hidden;
    }
    40%{
        visibility:visible;
    }
    60%{
        visibility:hidden;
    }
    80%{
        visibility:hidden;
    }
    100%{
        visibility:hidden;
    }
}
@keyframes b{
    0%{
        visibility:hidden;
    }
    20%{
        visibility:hidden;
    }
    40%{
        visibility:hidden;
    }
    60%{
        visibility:visible;
    }
    80%{
        visibility:hidden;
    }
    100%{
        visibility:hidden;
    }
}
@keyframes f{
    0%{
        visibility:hidden;
    }
    20%{
        visibility:hidden;
    }
    40%{
        visibility:hidden;
    }
    60%{
        visibility:hidden;
    }
    80%{
        visibility:visible;
    }
    100%{
        visibility:hidden;
    }
}

#bu{
    width:1040px;
    height:550px;
    background: black;
    text-align: center;
}

.container{
    width:70%;
    margin-top:none;
    margin-left:220px;
    margin-bottom:50px;
    margin-right: 220px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    position:relative;
    
}

.container .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background:linear-gradient(to right,crimson,rgb(212, 136, 49));
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow:hidden;
    border-radius: 10px;
}

.container .box .icon{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: 0.5%;
    z-index:1;
}

.container .box:hover .icon{
    top:20px;
    left:calc(50% - 40px);
    width:60px;
    height:60px;
    border-radius: 50%;
}

.container .box .content{
    position: absolute;
    color:white;
    top:70px;
    height: calc(100% - 100px);
    text-align: start;
    padding: 20px;
    box-sizing: border-box;
    transition:0.5%;
}

h4{
    text-align: center;
}

.box{
    background:linerar-gradient(to bottom,black,rgba(221, 93, 93, 0.4));
    text-align:center;
    margin-left:20%;
    margin-right:20%;
    padding:40px;
    font-family:'Century Gothic',sans-serif;
}

.profile{
    width:400px;
    border-radius: 50%;
}
.intro1{
    color:bisque;
    font-size:40px;
}

.intro2{
    color:bisque;
}

.intro3{
    color:bisque;
    text-align: justify;
}

ul{
    margin:0;
    padding:0;
}

.box li{
    display:inline-block;
    margin:6px;
    list-style:none;
}

.box li a{
    color:white;
    text-decoration:none;
    font-size: 40px;
    transition:all ease-in-out 250ms;
}

.box li a:hover{
    color:#b9b9b9;
}

.footer{
    margin-top:10px;
    margin-left: 20%;
    margin-right: 20%;
    background:darkslateblue;
    height:200px;
}

.footer-content{
    display:flex;
    justify-content: space-around;
}

.social li{
    display:inline-block;
    margin:6px;
    list-style:none;
}

.social li a{
    color:white;
    text-decoration:none;
    font-size: 40px;
    transition:all ease-in-out 250ms;
}

.footer-bottom{
    margin-left:50%;
    color:bisque;
}

.footer-content{
    color:beige;
}